<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ngb-progressbar *ngIf="progressBarDisplayed" type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
</div>
<div></div>
<div>
  <h1 class="display-1">
    {{title}}
    <span class="badge badge-info">{{visitedCount | async}}</span>
  </h1>
</div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{disabled: progressBarDisplayed}" routerLink="/test" routerLinkActive="active">
      Test {{getPageVisit('Test') | async}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{disabled: progressBarDisplayed}" routerLink="/login" routerLinkActive="active">
      <i class="far fa fa-key"></i> Login {{getPageVisit('Login') | async}}
    </a>
  </li>
</ul>
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

<router-outlet></router-outlet>
