<h4 *ngIf="isLoading && (managementUnit.items | async)?.length < 1" class="text-center" >
  <wfm-loading></wfm-loading>
</h4>
<div class="container" *ngIf="(managementUnit.items | async)?.length > 0">
  <div class="card m-2">
    <div class="card-block">
      <div class="row">
        <div class="col">
          <h4 class="card-title m-4">
            MU List
          </h4>
        </div>
        <div class="col text-right">
          <h4 class="card-title m-4">
            {{(managementUnit.items | async)?.length}} item(s)
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col"style="overflow:hidden;">
          <ul class="list-group" style="overflow: auto; height: 400px">
            <li class="list-group-item" *ngFor="let mu of (managementUnit.items | async)">
              <div class="row">
                <div class="col text-right">
                  {{mu.id}}
                </div>
                <div class="col">
                  {{mu.name}}
                </div>
                <div class="col text-right">
                  <i class="far fa-fw fa-edit" [ngClass]="{'text-success': mu.modify, 'text-danger': !mu.modify}"></i>
                  <i class="far fa-fw" [ngClass]="{'text-success fa-eye': mu.view, 'text-danger fa-eye-slash': !mu.view}"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

