<h4 *ngIf="isLoading" class="text-center" >
  <wfm-loading></wfm-loading>
</h4>
<div class="container">
  <div class="example-container mat-elevation-z8">
    <div class="container-fluid filter-input-container p-2">
      <!--<mat-form-field>-->
        <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
      <!--</mat-form-field>-->
      <mat-button-toggle-group #group (change)="switchDataSource($event)">
        <mat-button-toggle #beforeButton value="before">
          Before
        </mat-button-toggle>
        <mat-button-toggle #afterButton value="after">
          After
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort [matSortDisableClear]="true" id="agent-bidding-order">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Agent Id Column -->
      <ng-container matColumnDef="agentId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Agent ID </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{'text-success': element.difference < 0, 'text-danger': element.difference > 0}">
          {{element.agentId}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="agentName">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{'text-success': element.difference < 0, 'text-danger': element.difference > 0}">
          {{element.agentName}} </mat-cell>
      </ng-container>

      <!-- actualBiddingOrder Column -->
      <ng-container matColumnDef="actualBiddingOrder">
        <mat-header-cell *matHeaderCellDef [ngClass]="'text-right'" mat-sort-header> Original Seniority
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{'text-right': true, 'text-success': element.difference < 0, 'text-danger': element.difference > 0}">
          {{element.actualBiddingOrder}}
        </mat-cell>
      </ng-container>

      <!-- actualBiddingOrder Column -->
      <ng-container matColumnDef="biddingTime">
        <mat-header-cell *matHeaderCellDef [ngClass]="'text-right'" mat-sort-header>
          Time Taken (minutes)
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{'text-right': true, 'text-success': element.difference < 0, 'text-danger': element.difference > 0}">
          {{element.biddingTime}}
        </mat-cell>
      </ng-container>

      <!-- actualBiddingOrder Column -->
      <ng-container matColumnDef="newBiddingOrder">
        <mat-header-cell *matHeaderCellDef [ngClass]="'text-right'" mat-sort-header> New Seniority </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{'text-right': true, 'text-success': element.difference < 0, 'text-danger': element.difference > 0}">
          <strong>{{element.newBiddingOrder}}</strong>
        </mat-cell>
      </ng-container>

      <!-- actualBiddingOrder Column -->
      <ng-container matColumnDef="difference">
        <mat-header-cell *matHeaderCellDef [ngClass]="'text-right'"> Change </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{'text-right': true, 'text-success': element.difference < 0, 'text-danger': element.difference > 0}">
          <mat-icon *ngIf="element.difference > 0">arrow_downward</mat-icon>
          <mat-icon *ngIf="element.difference < 0">arrow_upward</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="20"
                   [pageSizeOptions]="[2, 5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
