/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

a.disabled {
  pointer-events: none;
  cursor: default;
}

mat-header-cell.text-right button {
  display: initial;
  text-align: right;
  flex: 1 1 90%;
}

mat-header-cell.text-right button {
  display: initial;
  text-align: right;
  flex: 1 1 90%;
}

div.filter-input-container > mat-form-field {
  width: 100%;
}

#agent-bidding-order {
  max-height: 500px;
  overflow: auto;
}
